.charts-page {
  padding-top: 10px;
  width: 98vw;
  height: 90vh;
}

.chart-checkbox,
.period-selector,
.period-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin: 12px auto;
  flex-wrap: wrap;
}

.chart-checkbox .label {
  margin: 0;
}

.label {
  margin-right: 15px;
}

.period-selector button {
  padding: 6px 14px;
  cursor: pointer;
}

.period-selector button.active {
  color: white;
  background: #333;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
}

.chart-checkbox {
  display: flex;
  justify-content: center !important;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin: 12px auto;
  flex-wrap: wrap;
}

.period-filter {
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 12px 0;
}

.period-filter label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.period-filter select {
  padding: 6px 10px;
}

.energy-summary {
  text-align: center;
  margin: 12px 0;
}

.recharts-legend-wrapper {
  text-align: center;
}

.custom-legend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 12px;
  text-align: center;
}

.custom-legend span {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.legend-color {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}

.power-color {
  background: #5f5050;
}

.pv-color {
  background: #ec30a4;
}

.tbe-color {
  background: #463de0;
}

.tae-color {
  background: #0ace55;
}

.tho-color {
  background: #c4922f;
}

.target-color {
  background: #ec1b4f;
}